{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Memory-1945</title>
    <style>body {font-family: Arial, sans-serif;}</style>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'ico/favicon.ico' %}">
    <link rel="stylesheet" href="{% static '/css/body.css' %}">

</head>
<body>

    <form method="POST">
        {% csrf_token %}
    <table>
        {{ form }}
    </table>
    <input type="submit" value="Send" ><br/><br/>
    {{ table_content|safe }}

  </form>
</body>
</html>
